.button {
    -fx-background-color: null;
}

.button:hover {
    -fx-background-color: #383838;
}

.anchor {
    -fx-background-image: url(wall.png);
    -fx-background-repeat: repeat;
    -fx-background-position: center center;

}